<!DOCTYPE html>
<html>
    <head>
        <title>Gibbons Udacity Home</title>
    </head>
    <body>
        <div>
            Hello, Udacity!
        </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="/">Homepage</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/rot13">Caeser Cypher</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/usersignup">User sign up</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/blog">Blog</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
